<div class="container" style="min-height: calc(100vh - 181px);">
	<p> Subject </p>
	<p> <%=@newsletter.subject %> </p>
	<p> <a href="/newsletters/new?template=<%=@newsletter.id%>">Crear nueva newsletter a partir de esta </a></p>
</div>