<div id="user_profile_info">
	<p class="title">
		<% if @isProfileOwner %>
			<span><%=t("profile.title_own")%></span>
		<% else %>
			<span><%=t("profile.title", :name => @profile_user.name)%></span>
		<% end %>
	</p>
</div>