<div class="container" style="min-height: calc(100vh - 227px);">
	
	<br><br>

	<h1>Ayuda para utilizar la plataforma </h1>
	
	<br>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/jEylP8SZdEE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	<br>
	<br>

	<div id="accordion-1" class="accordion">
		<div class="card">
			<div class="card-header" id="headingOne">
				<h5 class="mb-0">
					<a data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" role="button">
						Cómo apuntarme a un webinar
					</a>
				</h5>
			</div>
			<div id="collapseOne" data-parent="#accordion-1" class="collapse" aria-labelledby="headingOne">
				<div class="card-body">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/HfoI6RvW0lE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header" id="headingThree">
				<h5 class="mb-0">
					<a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" role="button">Cómo matricularme en un curso
					</a>
				</h5>
			</div>
			<div id="collapseThree" data-parent="#accordion-1" class="collapse" aria-labelledby="headingThree">
				<div class="card-body">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/XWOMdHPYEbw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header" id="headingFour">
				<h5 class="mb-0">
					<a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour" role="button">Cómo navegar
					</a>
				</h5>
			</div>
			<div id="collapseFour" data-parent="#accordion-1" class="collapse" aria-labelledby="headingFour">
				<div class="card-body">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/aMYlS1NlUMg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header" id="headingFive">
				<h5 class="mb-0">
					<a class="collapsed" data-toggle="collapse" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive" role="button">Cómo registrarme
					</a>
				</h5>
			</div>
			<div id="collapseFive" data-parent="#accordion-1" class="collapse" aria-labelledby="headingFive">
				<div class="card-body">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/uYFBlhZzq3c" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header" id="headingSix">
				<h5 class="mb-0">
					<a class="collapsed" data-toggle="collapse" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix" role="button">Cómo navegar por un curso
					</a>
				</h5>
			</div>
			<div id="collapseSix" data-parent="#accordion-1" class="collapse" aria-labelledby="headingSix">
				<div class="card-body">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/NMx_Q5Vtk2c" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
		<!-- <div class="card">
			<div class="card-header" id="headingSeven">
				<h5 class="mb-0">
					<a class="collapsed" data-toggle="collapse" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven" role="button">teaser:
					</a>
				</h5>
			</div>
			<div id="collapseSeven" data-parent="#accordion-1" class="collapse" aria-labelledby="headingSeven">
				<div class="card-body">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/jEylP8SZdEE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div> -->
		<br>
		<br>
	</div>
</div>

