development:
  name: "ODC"
  domain: "localhost:3000"
  no_reply_mail: "no-reply@example.com"
  main_mail: "odc@example.com"
  mail:
    type: "SMTP"
    enable_starttls_auto: false
  secret_token: "Place secret token here"
  # recaptcha: # Get keys from https://www.google.com/recaptcha
  #  site_key: ""
  #  secret_key: ""
  GITHUB:
    client_id: '????'
    client_secret: '????'
  IDM:
    app_id: "????"
    app_secret: "????"
    site: "http://idmodc.dit.upm.es/"
    authorize_path: "https://idmodc.dit.upm.es/oauth2/authorize"
    token_url: "https://idmodc.dit.upm.es/oauth2/token"
    user_url: "https://idmodc.dit.upm.es/user"
    signout_url: "https://idmodc.dit.upm.es/auth/external_logout?_method=DELETE&client_id="

# More configuration options

# Specify settings for tags
# tagsSettings:
#   maxLength: 20
#   maxTags: 8
#   triggerKeys: ['enter', 'comma', 'tab', 'space']
