development:
  name: "MOVLE Platform"
  domain: "localhost:3000"
  no_reply_mail: "no-reply@example.com"
  main_mail: "movle@example.com"
  mail:
    type: "SMTP"
    enable_starttls_auto: false
  secret_token: "Place secret token here"
  # recaptcha: # Get keys from https://www.google.com/recaptcha
  #  site_key: ""
  #  secret_key: ""

# More configuration options

# Specify settings for tags
# tagsSettings:
#   maxLength: 20
#   maxTags: 8
#   triggerKeys: ['enter', 'comma', 'tab', 'space']