$orange: #ff7900
$highlight_yellow: #FFCC00
$orange_light: #F16E00
$gris: #EEEEEE 
$gris_oscuro: #8f8f8f
$success: #28a745
$info: #17a2b8
$warning: #ffc107
$danger: #dc3545
$redorange: #ff5349 
$contrast-border: #ccc 
