@import "colors"

.cookie-panel-section
	background-color: white
	display: none
	&.show-cookie-msg
		display: block
	h1
		font-size: 1.75rem
		color: $orange
	.small-text
		padding: 0
		font-size: smaller
#cookiesModal
	