@import "colors"

.cookie-panel-section
	background-color: white
	display: none
	&.show-cookie-msg
		display: block
	h1
		font-size: 1.75rem
		color: $orange
	@media (max-width: 768px)
		.w-100 
			width: 100% !important
	@media (min-width: 768px)
		.w-md-75
			width: 75% !important
	@media (min-width: 992px)		
		.w-lg-50
			width: 50% !important
	.close 
		float: right
		cursor: pointer
		width: 1.875rem
		height: 1.875rem
		padding: 0
		margin-right: .625rem
		transition: outline-offset .2s ease-in-out
		background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath d='M15 17.121l-8.132 8.132-2.121-2.12L12.879 15 4.747 6.868l2.12-2.121L15 12.879l8.132-8.132 2.12 2.121L17.122 15l8.132 8.132-2.121 2.12L15 17.123z'/%3e%3c/svg%3e") no-repeat 50%/1.875rem
		border: none !important
		outline-offset: .625rem
		opacity: 1
		-webkit-appearance: none
		-moz-appearance: none
		appearance: none
		&:hover
			outline: none
#cookiesModal
	