@import 'colors';
 
.course.card
	margin-bottom: 20px
	height: calc(100% - 20px)
	border: .125rem solid #ccc
	.card-img-container
		padding-bottom: 63.29%
		position: relative
		background-color: $gris
		.card-img-top
			border-radius: 0px
			position: absolute
			width: 100%
			height: auto
			min-height: 100%
			width: 100%
			min-width: auto
			object-fit: cover
		.webinar-corner
			width: 0px
			height: 0px
			left: -.125rem
			top: -.125rem
			border: 2rem $orange solid
			position: absolute
			border-bottom-color: transparent
			border-right-color: transparent
			span
				position: relative
				display: block
				img
					position: absolute
					width: 1.2rem
					top: -1.35rem
					left: -1.35rem
	.course-date
		color: $orange_light
		margin-top: -8px
		margin-bottom: 5px
		font-size: 14px
	.card-title
		overflow: hidden
		display: -webkit-box
		-webkit-line-clamp: 2
		-webkit-box-orient: vertical
		margin-bottom: 20px
		min-height: 46px
		font-weight: 750
	.course-description
		overflow: hidden
		display: -webkit-box
		color: $orange
		-webkit-line-clamp: 3
		-webkit-box-orient: vertical
		text-overflow: " [..]"
		min-height: 55px
		.text-wrapper
			color: black
	.btn-black
		position: absolute
		bottom: 20px
	.btn
		margin-top: 12px
	form
		display: inline