/* Customizing */
.ui-dialog {
	z-index: 999;
	background: white;
	border-color: transparent;
	padding: 10px;
	box-shadow: 0px 0px 10px #ccc;

}
.ui-widget.ui-widget-content {
	border: 2px solid black;
}

.ui-dialog-content {
	min-height: 60px !important;
}

.ui-dialog-content p {
	font-size: 1.2rem !important;
}

.ui-icon-closethick-wrapper {
	width: 10%;
	padding: 0px 0px 0px 3px !important;
}

.ui-dialog-buttonset > button {
	margin-bottom: 6px;
	margin-right: 3px;
	outline: none;
}

.noTitleStuff .ui-dialog-titlebar {
	display:none
}

