@font-face {
	font-family: Helvetica--Neue--35;
	font-style: normal;
	font-weight: 400;
	src:url("../fonts/HelvNeue35_W1G.eot?#iefix");
	src:url("../fonts/HelvNeue35_W1G.eot?#iefix") format("eot"),
	 url(../fonts/HelvNeue35_W1G.eot?) format("eot"),
	 url(../fonts/HelvNeue35_W1G.woff2) format("woff2"),
	 url(../fonts/HelvNeue35_W1G.woff) format("woff"),
	 url(../fonts/HelvNeue35_W1G.ttf) format("truetpye"),
	 url(../fonts/HelvNeue35_W1G.svg) format("svg");
}
@font-face {
	font-family: Helvetica--Neue--45;
	font-style: normal;
	font-weight: 500;
	src:url("../fonts/HelvNeue45_W1G.eot?#iefix");
	src:url("../fonts/HelvNeue45_W1G.eot?#iefix") format("eot"),
	 url(../fonts/HelvNeue45_W1G.eot?) format("eot"),
	 url(../fonts/HelvNeue45_W1G.woff2) format("woff2"),
	 url(../fonts/HelvNeue45_W1G.woff) format("woff"),
	 url(../fonts/HelvNeue45_W1G.ttf) format("truetpye"),
	 url(../fonts/HelvNeue45_W1G.svg) format("svg");
}
@font-face {
	font-family: Helvetica--Neue--55;
	font-style: normal;
	font-weight: 500;
	src:url("../fonts/HelvNeue55_W1G.eot?#iefix");
	src:url("../fonts/HelvNeue55_W1G.eot?#iefix") format("eot"),
	 url(../fonts/HelvNeue55_W1G.eot?) format("eot"),
	 url(../fonts/HelvNeue55_W1G.woff2) format("woff2"),
	 url(../fonts/HelvNeue55_W1G.woff) format("woff"),
	 url(../fonts/HelvNeue55_W1G.ttf) format("truetpye"),
	 url(../fonts/HelvNeue55_W1G.svg) format("svg");
}
@font-face {
	font-family: Helvetica--Neue--65;
	font-style: normal;
	font-weight: 600;
	src:url("../fonts/HelvNeue65_W1G.eot?#iefix");
	src:url("../fonts/HelvNeue65_W1G.eot?#iefix") format("eot"),
	 url(../fonts/HelvNeue65_W1G.eot?) format("eot"),
	 url(../fonts/HelvNeue65_W1G.woff2) format("woff2"),
	 url(../fonts/HelvNeue65_W1G.woff) format("woff"),
	 url(../fonts/HelvNeue65_W1G.ttf) format("truetpye"),
	 url(../fonts/HelvNeue65_W1G.svg) format("svg");
}
@font-face {
	font-family: Helvetica--Neue--75;
	font-style: normal;
	font-weight: 700;
	src:url("../fonts/HelvNeue75_W1G.eot?#iefix");
	src:url("../fonts/HelvNeue75_W1G.eot?#iefix") format("eot"),
	 url(../fonts/HelvNeue75_W1G.eot?) format("eot"),
	 url(../fonts/HelvNeue75_W1G.woff2) format("woff2"),
	 url(../fonts/HelvNeue75_W1G.woff) format("woff"),
	 url(../fonts/HelvNeue75_W1G.ttf) format("truetpye"),
	 url(../fonts/HelvNeue75_W1G.svg) format("svg");
}
b, strong {
	font-family:  Helvetica--Neue--75;
}

