@import "colors";
html
	min-height: 100%
	body
		letter-spacing: -.00625rem
		-webkit-font-smoothing: subpixel-antialiased
		text-rendering: optimizeSpeed
		iframe
			max-width: 90% !important
		.container-fluid-all
			width: 100%
			max-width: 100%
		.soft-background
			background-color: $gris
			padding-bottom: 15px
		.highlight-background
			background-color: $highlight_yellow
			--contrast-border: #{$highlight_yellow}
			.course.card
				border-color: $highlight_yellow

		.orange
			color: $orange
		.orange-light
			color: $orange_light
		.popular-list
			padding-top: 50px
			padding-bottom: 50px
			h2
				margin-bottom: 40px
				display: flex
				align-items: flex-start
				span
					flex: 1
			.col-course
				margin-bottom: 15px
			&.courses-4
				h2
					font-size: 2.9rem
			&.courses-3
				.course-left-info
					padding-right: 40px
					h2
						font-size: 2.9rem
				.course.card
					font-size: 13px
					line-height: 16px
					.course-description
						min-height: 48px
				h4
					font-size: 20px
					line-height: 23px
		.o-footer
			margin-top: 0px
		.o-caps
			text-transform: uppercase
		.draw-attention
			a
				color: $orange
				font-size: 1.2em
				font-weight: bold
@media (max-width: 479px)
	html body
		.popular-list
			&.courses-4, &.courses-3
				h2
					font-size: 2rem !important
				.course-left-info
					padding-right: 0px