<div id="logo_wrapper">
	<a href="/">Home</a>
</div>
<div id="buttons_header">
	<div class="secondary_button" id="register_wrapper">
		<a href="/users/sign_up"><%=t("dictionary.register")%></a>
	</div>
	<div class="primary_button" id="login_wrapper">
		<a href="/users/sign_in"><%=t("dictionary.login")%></a>
	</div>
</div>