<div id="logo_wrapper">
	<a href="/">Home</a>
</div>

<div id="buttons_header">
	<div id="header_profile" class="dropdown">
		<button class="dropdown-toggle primary_button" type="button" data-toggle="dropdown">
			<%= current_user.name %>
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu dropdown-menu-right">
			<div id="arrow-up-header-profile"></div>
			<li><%= link_to(t("header.menu.profile"),user_path(current_user))%></li>
			<li><%= link_to(t("header.menu.settings"),edit_user_registration_path(current_user))%></li>
			<li role="separator" class="divider"></li>
			<li><%= link_to(t("header.menu.logout"), destroy_user_session_path, :method => :delete) %></li>
		</ul>
	</div>
</div>