<div class="container">
  <div class="row">
    <div class="col-12">
      <br>
      <h2><%=t("user.new")%></h2>
      <br/>
      <br/>

  <%= render partial: "users/form", :locals => { user:  @user} %>

  <%= render "devise/shared/links" %>
    <br>
    </div>
  </div>
</div>